* {
  font-family: 'Open Sans', sans-serif;
}

input,
textarea {
  background: none;
  outline: none;
  font-size: 1rem;
}

button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
